#root {
  padding: 2rem;
  text-align: center;
}

.comp-container{
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.555);
  width: 600px;
  height: 400px;
  max-height: 500px;
  margin-top: 50px;
  padding: 0 50px 0 50px;
  font-size: 16px;
  
}

.comp-container p{
  font-family: 'bookerly';
  font-size: 2.0em;
  line-height: 1.5em;
  overflow-wrap: break-word;
  margin-top: 60px;
}

.comp-container:hover, button:hover, input[type=submit]:hover{
  cursor: pointer;
}

div.buttons{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 40px;
  width: 60%;
}

div.buttons button {
  width: 100px; height: 70px;
  font-size: 1.5em;
  font-weight: bold;
}

.user-input > * {
  display: inline-block;
  margin-right: 15px;
  width: 26%;
  font-weight: bold;
}

.user-input input[type=submit]{
  width: 15%;
  height: 40px;
}